.example-list {
    display: flex;
}

.example-section {
    padding-top: 0;
}

.section-title {
    margin-bottom: 50px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--light-theme-txt);
}

.example-item {
    position: relative;
}

.example-item:not(:last-child) {
    margin-right: 30px;
}

.label-text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-theme-txt);
}

.label {
    overflow: visible;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}